<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form th:action="@{/update/{id} (id = ${user.id})}" th:object="${user}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" /><br>

        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" ><br>

        <label for="numberphone">Numberphone:</label>
        <input type="number" id="numberphone" th:field="*{numberphone}" ><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>