<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>User Information</h1>

<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>UserName</th>
        <th>Numberphone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.numberphone}"></td>
        <td>
            <a th:href="@{/delete/{id} (id=${user.id})}">Delete</a>
            <a th:href="@{/edit/{id}(id = ${user.id})}">Update</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>
