<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User </h1>
<div th:if="${user != null}">
    <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Number Phone:</strong> <span th:text="${user.numberphone}"></span></p>

    <a th:href="@{/edit/{id}(id = ${user.id})}">Update</a>
    <a th:href="@{/delete/{id} (id=${user.id})}">Delete</a>
</div>

</body>
</html>
