<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Web Page</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Đường dẫn tới file CSS -->
</head>

<body>
    <div>
        <h1 class="desi-header">Welcome to ST21A1A</h1>
        <div class="space-introduc">
            <p>My Group is number 6</p>
            <p>My Member about 3 people</p>
            <p>Đoàn Duy Thức <br> Vũ Duy Đức <br> Mai Trâm</p>
        </div>
    </div>
</body>

</html>