<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>All Users</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
    </tr>
</table>

<h2>Add User</h2>
<form action="/home" method="post" th:object="${user}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" /><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" /><br>

    <input type="submit" value="Save" />
</form>
</body>
</html>
